{% extends 'base.html' %}

<div class="container">

  {% block content %}
  <h2> Expenses List</h2>
  {% include 'partials/_messages.html' %}
  <ul class='list-group'>
    <li class='list-group-item'>Bought Beer</li>
    <li class='list-group-item'>Bought Beer</li>
    <li class='list-group-item'>Bought Beer</li>
    <li class='list-group-item'>Bought Beer</li>
    <li class='list-group-item'>Bought Beer</li>
    <li class='list-group-item'>Bought Beer</li>
    <li class='list-group-item'>Bought Beer</li>
  </ul>
</div>
{% endblock %}
  
