{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-title mt-4 ps-3">
        <h4>LOGIN FRA DASHBOARD</h4>
      </div>  
      <div class="card-body">
        <form action="{% url 'login' %}" method="post" id="loginForm">
          {% csrf_token %}
          {% include 'partials/_messages.html' %}
          <div class="form-group mt-4">
            <input
              type="text"
              name="username"
              id="usernameField"
              class="form-control form-control-sm"
              placeholder="Enter username"
              value = {{ValueFields.username}}
            >
          </div>     
        
          <div class="form-group mt-4">
            <div class="input-group">
              <input
                type="password"
                name="password"
                id="passwordField"
                class="form-control form-control-sm"
                placeholder="Enter your password"
              />
            </div>
            <small class="float-end py-3 showPasswordToggle">SHOW</small>
          </div>
          <div class="text-center mt-4">
            <input type="submit" value="Login" class="btn btn-block btn-primary w-100 submit-btn">
          </div>
        </form> 
      </div>
      <span>Don't have an Account?</span>
      <a href="{% url 'register' %}" class="hell">Register</a>
      <span>Forgot password?</span>
      <a href="{% url 'register' %}" class="hell">Reset</a>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script src="{% static '/js/register.js' %}"></script>
<script src="{% static '/js/pass-hide-show.js' %}"></script>

{% endblock%}
