{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-title mt-4 ps-3">
        <h4>Set New Password</h4>
      </div>  

      <div class="card-body">
        <form action="{% url 'set-new-password' uidb64=uidb64 token=token %}" method="POST">
          {% csrf_token %}
          {% include 'partials/_messages.html' %}
          
          <div class="form-group mb-4">
            <input type="password" 
                   name="password" 
                   placeholder="New Password" 
                   class="form-control" 
                   required>
          </div>
          
          <div class="form-group">
            <input type="password" 
                   name="password2" 
                   placeholder="Confirm New Password" 
                   class="form-control" 
                   required>
          </div>

          <input type="submit" value="Reset Password" class="btn btn-primary mt-4 w-100">
        </form> 
        <div class="container">
          <span class="text-lead lead">Don't have an Account?</span>
          <a href="{% url 'register' %}" class="hell">Register</a><br>
          <span class="text-lead lead">Have an account ?</span>
          <a href="{% url 'login' %}" class="hell">Login</a>
          
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4"></div>
</div>
<script src="{% static '/js/register.js' %}"></script>
<script src="{% static '/js/pass-hide-show.js' %}"></script>

{% endblock%}
